@import "tailwindcss";

@layer components{
  .soft-blur-overlay {
    position: relative;
    /* background: rgba(255, 240, 240, 0.7); */
    backdrop-filter: blur(8px);
  }

  .animation-effect{
    transition: all 0.3s ease;
  }
  .lingo-container{
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
    transition: padding 0.3s ease;
  }

  /* lg */
  @media (max-width: 1024px) {
    .lingo-container {
      padding: 0 50px;
    }
  }

  /* md */
  @media (max-width: 768px) {
    .lingo-container {
      padding: 0 20px;
    }
  }
}

html, body {
  box-sizing: border-box;
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

/* #E15C31 - ORANGE
#1D419D - BLUE
#F1F1F1 - WHITE */